<h1>Hellow word in ruby on rails!</h1>
<p>Awesome primer ejercicio de prueba!!</p>
<% ['uno','dos',3,4].each do |myNumber|%>
	<p>Mi numero: <%= myNumber %> </p>
<% end %>
<% miNombre = "Diego" %>
<%= "Hola #{miNombre}" %>